.container {

}
body {
	background-image: url("assets/background.jpg");
}
.img-responsive {
	margin-bottom: 20px;
}
.winner, .loser, .toGuess, .scoreHolder {
	background-color: #777;
}
#crystalHolder {
	margin-top: 15px;
	margin-bottom: 15px;
}
.crystalImage {
	height:222px;
	margin-left: 10px;
}